<div class="container" fxLayout="row" fxLayoutAlign="center none">

    <div fxFlex="95%">
      <div class="container" fxLayout="row" fxLayoutAlign="center none">
        <h2>Usuarios</h2>
      </div>
  
      <div class="container" fxLayout="row" fxLayoutAlign="center none">
        <div fxFlex="50%" class="text-center animate">
          <p>users-home works!</p>
          <button type="button" (click)="newUser()">Abrir</button>
          <div class="example-container mat-elevation-z8">
            <div class="example-loading-shade"
                 *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                GitHub's API rate limit has been reached. It will be reset in one minute.
              </div>
            </div>
            <div class="example-table-container">
              <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
                <ng-container matColumnDef="number">
                  <th mat-header-cell *matHeaderCellDef>#</th>
                  <td mat-cell *matCellDef="let row; let i = index">{{i+1}}</td>
                </ng-container>
                <!-- fullName Column -->
                <ng-container matColumnDef="fullName">
                  <th mat-header-cell *matHeaderCellDef>Nombre completo</th>
                  <td mat-cell *matCellDef="let row">{{row.fullName}}</td>
                </ng-container>
                <!-- Email Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>Email</th>
                  <td mat-cell *matCellDef="let row">{{row.email == null ? '-': row.email}}</td>
                </ng-container>
                <!-- telefono Column -->
                <ng-container matColumnDef="telefono">
                  <th mat-header-cell *matHeaderCellDef>Telefono</th>
                  <td mat-cell *matCellDef="let row">{{row.telefono == null ? '-': row.telefono}}</td>
                </ng-container>
                <!-- acciones Column -->
                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef>Acciones</th>
                  <td mat-cell *matCellDef="let row" class="btn-acciones">
                      <button mat-icon-button color="primary" aria-label="editar">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button  color="primary" aria-label="permiso">
                        <mat-icon>format_list_bulleted</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" aria-label="Rclave">
                        <mat-icon>password</mat-icon>
                      </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" aria-label="Select page "></mat-paginator>
          </div>
          
        </div>
        <mat-icon> </mat-icon>
      </div>
    </div>
</div>