<div class="container login-container mp-2" fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="loginForm" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%" (ngSubmit)="onLogin()">
    <mat-card class="mp-1">
      <mat-card-title class="text-center">Iniciar sesión</mat-card-title>
      <mat-card-subtitle class="text-center">
        <mat-icon class="icon-sesion">
            assignment_ind
        </mat-icon>
      </mat-card-subtitle>
      <mat-card-content>

        <mat-form-field class="full-width" >
          <mat-label>Usuario</mat-label>
          <input name="username"
            formControlName="UserName" autocomplete="on"
            matInput
            placeholder="Usuario" required
          />
          <mat-error *ngIf="!loginForm.controls['UserName'].valid">
              Usuario es requerido
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" >
          <mat-label>Contraseña</mat-label>
          <input name="password" type="password"
            formControlName="Password" autocomplete="on"
            matInput
            placeholder="Contraseña" required
          />
          <mat-error *ngIf="!loginForm.controls['Password'].valid">
              Contraseña requerida
            </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button mat-flat-button color="primary">Login</button>
          <a class="text-link" class="aLink" routerLink="/auth/register" >Registrar</a>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </form>
</div>
