<div fxFlex="95%">
  <div class="container">
    <h2>Usuarios</h2>
  </div>

  <div class="container">
    <div class="row">
      <button mat-icon-button color="primary" aria-label="Agregar" (click)="crear()">
          <mat-icon>add</mat-icon>
        </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a bookmark icon">
          <mat-icon>filter_alt</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>

        <app-dynamic-table
        [gridConfig]="gridUser"
        (action)="handleActionEvent($event)"
        (pageChange)="handlePageEvent($event)"
        (sortChange)="handleSortEvent($event)">
      </app-dynamic-table>


  </div>
</div>
